.profile-container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.profile-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.EditButton {
  height: 30px;
}
